@use '@/styles/colors.scss';

.stat {
    width: 100%;
    padding-top: 2.5em;
    border-radius: 15px;

    &__content {
        width: 100%;
        padding: 2em 2em 2.5em;
        height: fit-content;
        border-radius: 15px;
        background-color: colors.$darkBlue;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }


    &__title {
        font-size: 1.2rem;
        font-weight: 500;
    }

    &--icon {
        width: 2em;
        height: auto;
        background: {
             image: url(../../assets/images/icon-ellipsis.svg);
             position: center;
             repeat: no-repeat
        }
    }

    &__tracking {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: .8em;
    }

    &__hours {
        font-size: 2rem;
        font-weight: 300;
    }

    &__previous {
        font-size: .9rem;
        font-weight: 400;
        color: colors.$paleBlue;
    }

    &__Work {
        background: {
            image: url(../../assets/images/icon-work.svg);
            position: 93% -.7rem;
            repeat: no-repeat;
            color: colors.$workRed;
       }
    }

    &__Play {
        background: {
            image: url(../../assets/images/icon-play.svg);
            position: 93% -.7rem;
            repeat: no-repeat;
            color: colors.$playBlue;
       }
    }

    &__Study {
        background: {
            image: url(../../assets/images/icon-study.svg);
            position: 93% -.7rem;
            repeat: no-repeat;
            color: colors.$studyRed;
       }
    }

    &__Exercise {
        background: {
            image: url(../../assets/images/icon-exercise.svg);
            position: 93% -.7rem;
            repeat: no-repeat;
            size: 30%;
            color: colors.$exerciseGreen;
       }
    }

    &__Social {
        background: {
            image: url(../../assets/images/icon-social.svg);
            position: 93% -.7rem;
            repeat: no-repeat;
            color: colors.$socialViolet;
       }
    }

    &__Self-Care {
        background: {
            image: url(../../assets/images/icon-self-care.svg);
            position: 93% -.7rem;
            repeat: no-repeat;
            color: colors.$selfOrange;
       }
    }
}